# Snowflake Credentials
SNOWFLAKE_USER="firstname.lastname@alteryx.com"
SNOWFLAKE_ACCOUNT="your_account_identifier"
SNOWFLAKE_WAREHOUSE="DISCOVERY_PRODUCT_MANAGEMENT_WH"
SNOWFLAKE_DATABASE="DISCOVERY_PRODUCT_MANAGEMENT"
SNOWFLAKE_SCHEMA="METRIC_STORE"
SNOWFLAKE_ROLE="PROD_DATA_SCIENTIST_RL"
SNOWFLAKE_AUTHENTICATOR="externalbrowser"

# Alteryx Server Gallery API v3 Credentials
GALLERY_BASE_URL="https://gallery.alteryx.com/api/v3"
GALLERY_CLIENT_ID="your_client_id"
GALLERY_CLIENT_SECRET="your_client_secret"